<html>
  <head>
    <%= stylesheet_link_tag "tops", :media => "all" %>
  </head>

  <body>

<header>
<div class="container">
<div class="header-group">
  <img class="logo" src="assets/logo.png">
  <nav class="nav">
    　<ul class="nav-list">
      　<li class="nav-text">Portfolio</li>
      　<li class="nav-text">Feature</li>
      　<li class="nav-text">Profile</li>
      　<li class="nav-text">Contact</li>
   　 </ul>
  </nav>
</div>
</div>
</header>

<div class="main">
  <p class="main-text">Lorem Iprum</p>
  <p class="main-text2">simply dummy text of the printing</p>
</div>

<div class="portfolio">
  <p class="title">Portfolio</p>
  
</div>

</body>
</html>