<html>
  <head>
    <%= stylesheet_link_tag "tops", :media => "all" %>
  </head>

  <body>

<header>
<div class="container">
<div class="header-group">
  <img class="logo" src="assets/logo.png">
  <nav class="nav">
    　<ul class="nav-list">
      　<li class="nav-text">Portfolio</li>
      　<li class="nav-text">Feature</li>
      　<li class="nav-text">Profile</li>
      　<li class="nav-text">Contact</li>
   　 </ul>
  </nav>
</div>
</div>
</header>

<div class="main">
  <p class="main-text">Lorem Iprum</p>
  <p class="main-text2">simply dummy text of the printing</p>
</div>

<div class="port">
<div class="portfolio">
  <p class="title">Portfolio</p>
  <p class="text">It is a long established fact that a reader will be distracted by the readable
<br>content of a page when looking at its layout.
<br>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
<div class="portfolio-production">
  <div class="production"><img class="item" src="assets/sketch.jpg"></div>
  <div class="production"><img class="item" src="assets/websuku.png"></div>
  <div class="production"><img class="item" src="assets/write.jpg"></div>
  <div class="production"><img class="item" src="assets/webcamp.png"></div>
  <div class="production"><img class="item" src="assets/talk.jpg"></div>
  <div class="production"><img class="item" src="assets/webcamp-mother.png"></div>
</div>
</div>
</div>

<div class="feature">
  <p class="title">Feature</p>
  <p class="text">It is a long established fact that a reader will be distracted by the readable
<br>content of a page when looking at its layout.
<br>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
<div class="feature-production">
  <div class="production-area">
    <div class="feature-title">Strength1</div>
    <div class="feature-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</div>
  </div>
  <div class="production-area2">
      <div class="feature-title">Strength2</div>
    <div class="feature-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</div>
  </div>
  <div class="production-area">
      <div class="feature-title">Strength3</div>
    <div class="feature-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</div>
  </div>
</div>
</div>

<div class="pro">
<div class="profile">
  <p class="title">Profile</p>
  <p class="text">It is a long established fact that a reader will be distracted by the readable
<br>content of a page when looking at its layout.
<br>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
<div class="profile-area">
  <div class="profile-image"><img class="my-icon" src="assets/my-icon.jpg"></div>
  <div class="profile-introduction">
    <p class="profile-introduction-title">MyName</p>
    <p class="profile-introduction-text1">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
<br><br>
    <p class="profile-introduction-title">MySkills</p>
    <p class="prifile-introduction-text2">HTML/CSS,JavaScript,JQuery,PhotoShop</p>
</div>
</div>
</div>
</div>

<div class="con">
  <div class="contact">
    <p class="title">Contact</p>
    <p class="text">It is a long established fact that a reader will be distracted by the readable
<br>content of a page when looking at its layout.
<br>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
<div class="contact-area">
  <div class="contact-mail">
    <p class="mail">Mail</p>
    <p class="address">xxx@xxx.com</p>
    <p class="tel">Tel</p>
    <p class="number">000-0000-0000</p>
  </div>
  <div class="SNS-area">
    <p class="SNS">SNS</p>
  </div>
</div>
  </div>
</div>

</body>
</html>