<html>
  <head>
    <%= stylesheet_link_tag "tops", :media => "all" %>
  </head>

  <body>

<div class="head">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-text">Portfolio</li>
      <li class="nav-text">Feature</li>
      <li class="nav-text">Profile</li>
      <li class="nav-text">Contact</li>
    </ul>
  </nav>
</div>

</body>
</html>